.section-main{
  background-color: $jellybean;
}

.slogan{
  text-align: center;
  padding-top: 5rem;
  font-size: $large;
  font-weight: 300;
  color: $white;
}

.slogan-mayus{
  text-align: center;
  padding-bottom: 5rem;
  font-size: $large;
  font-weight: 700;
  color: $white;
}
